{% extends 'home/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block body %}

    <div class="jumbotron summary">
        <div class="row">
            <div class="col span-1-of-4">
                <div class="number_of icon row">
                    <ion-icon name="contact"></ion-icon>
                </div>
                <div class=" number_of row">
                   {{ request.user.username }}
                </div>
                <div class=" desc row">
                    USERNAME
                </div>

            </div>



            <div class="col span-1-of-4">
                <div class="number_of icon row">
                    <ion-icon name="stats"></ion-icon>
                </div>
                <div class=" number_of row">
                    {{ total_clicks }}
                </div>
                <div class=" desc row">
                    CLICKS
                </div>

            </div>

            <div class="col span-1-of-4">
                <div class="number_of icon row">
                    <ion-icon name="link"></ion-icon>
                </div>
                <div class=" number_of row">
                    {{ links.count }}
                </div>
                <div class=" desc row">
                    LINKS CREATED
                </div>

            </div>
            <div class="col span-1-of-4">
                <div class="number_of icon row">
                    <ion-icon name="pin"></ion-icon>
                </div>
                <div class=" number_of row">
                     {{ ip_data.country }}
                </div>
                <div class=" desc row">
                    LOCATION
                </div>

            </div>

        </div>


    </div>
    <section class="links">
        <div class="row">
            <div class="col span-1-of-5 shortened">
                <div class="row">
                    <h3> Shortened  </h3>
                </div>
                <hr>
                {% for link in links %}
                <div class="row">
                        <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title"> {{ link.short_code }}</h5>
                                  <h6 class="card-subtitle mb-2 text-muted">{{ link.time_created }}</h6>
                                  <p class="card-text">{{ link.redirect_to }}</p>
                                  <a href="http://shortayn.herokuapp.com/{{ link.short_code }}" target="_blank" class="card-link">shortayn.herokuapp.com/{{ link.short_code }}</a>
                                  <br>
                                  <p>
                                    <ion-icon name="stats"></ion-icon>  {{ link.amount_of_visits }} CLICKS
                                  </p>
                                    <p><a href="{% url 'home:delete_link' link.short_code %}">delete link</a> </p>

                                </div>
                              </div>

                </div>
                {% endfor %}



            </div>
            <div class="col span-4-of-5">
                <div class="row">
                    <h3> Shorten </h3>
                </div>
                <form action="" method="post">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% csrf_token %}
                    <div class="form-group">
                        <!--<label for="formGroupExampleInput"> Short Code </label>-->
                        <br>
                        {{ form.short_code|attr:"class:form-control"|attr:"id:formGroupExampleInput2"|attr:"placeholder:Link title" }}

                    </div>
                    <div class="form-group">
                        {{ form.redirect_to|attr:"class:form-control"|attr:"id:formGroupExampleInput2"|attr:"placeholder:Link to be Shortened" }}
                    </div>
                    <button type="submit" class="btn btn-primary">Shorten</button>
                </form>
            </div>
        </div>
    </section>





{% endblock %}

