{% load staticfiles %}
{% include 'home/base.html' %}
<!DOCTYPE html>
<html lang="en">

<body>
	<header>
{% block nav %}
{% endblock %}
	
	<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">HARNESS EVERY CLICK</h2>
    <p class="lead">Get shorter links with Shortayn. </p>
    <p class="lead">
        <a href="{% url 'home:signup' %}">
    <button type="button" class="btn btn-primary">GET STARTED TODAY</button>
        </a>
	</p>
  </div>
</div>
		
</header>
<section class="how" id="how">
	<h3> How To Use</h3>

    <div class="row padd">
        <div class="col span-1-of-3">
            <div class="row  how_icon">
                <ion-icon size="large" name="log-in"></ion-icon>
            </div>
            <div class="row ">
          - Sign up and Login
            </div>

        </div>

        <div class="col span-1-of-3">
            <div class="row how_icon">

                <ion-icon size="large" name="cut"></ion-icon>
            </div>
            <div class="row">
           -    Copy  URL of the page.
            </div>

        </div>



        <div class="col span-1-of-3">
            <div class="row how_icon">
                <ion-icon size="large" name="copy"></ion-icon>
            </div>
             <div class="row">
              - Paste the URL and click  <b> Shorten.</b>
            </div>

        </div>
    </div>

</section>



<div class="jumbotron jumbotron-fluid footer_sec">
  <div class="container">

    <p class="footer"> Copyright &copy;  Shortayn 2019. All rights reserved.Privacy policy.</p>
  </div>
</div>
















<!-- <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form> -->






	<!-- Bootstrap Scripts -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>

</body>
</html>