{% load staticfiles %}
{% load widget_tweaks %}
{% include 'home/base.html' %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
{% endblock %}
<body>
<header>
{% block nav %}
{% endblock %}



		<h4> Login </h4>
	<div class="container login-form">
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<form method="post">
    {% csrf_token %}
  <div class="form-group">
{#    <label for="exampleInputEmail1">Email address</label>#}
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter Email">
    
  </div>
  <div class="form-group">
{#    <label for="exampleInputPassword1">Password</label>#}
    <input type="password" class="form-control" id="password1" name="password" placeholder="Password">
  </div>
 
  <button type="submit" class="btn btn-primary">Login</button>
</form> 
		
	</div>

	
	
</header>










	<!-- Bootstrap Scripts -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>

</body>
</html>