{% load staticfiles %}
{% load widget_tweaks %}
{% include 'home/base.html' %}


{% block body %}
<header>

<div class ="login_card ">

		<h4> Login </h4>
	<div class="container login-form">
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<form method="post">
    {% csrf_token %}
  <div class="form-group">
{#    <label for="exampleInputEmail1">Email address</label>#}
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter Email">
    
  </div>
  <div class="form-group">
{#    <label for="exampleInputPassword1">Password</label>#}
    <input type="password" class="form-control" id="password1" name="password" placeholder="Password">
  </div>
 
  <button type="submit" class="btn btn-primary">Login</button>
</form> 
		
	</div>
</div>
	
	
</header>
{% endblock %}
