/*#0A79DF*/
/*------------------
//General styling
*/
*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
html, body{
	background-color: white;
	color: #555;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
.clearfix{
	zoom: 1;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
section{
	padding: 80px 0;
}
header{
	background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(img/header.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
}
h1{
	font-family: 'Pacifico', cursive;
	color:white;
	font-size: 100%;
}
.bg-light {
    background-color: #2475B0 !important;

}
.mr-auto, .mx-auto {
    margin-left: 25%;
}
.navbar-light .navbar-nav .active.nav-link{
	font-weight: 400	;

}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.jumbotron{
	padding-top: 15% !important;
	background-color: transparent;
	text-align: center;
	font-weight: 400;
}
.display-4, .lead{
	color: white;
}
.btn-primary{
	background-color: #2475B0;
}
h3{
	text-align: center;
}
h3:after{
	display: block;
	height: 2px;
	background-color: #2475B0;
	width:100px;
	content:" ";
	margin: 0 auto;
	margin-top: 30px;
	font-weight: bolder;
}
h4{
	text-align: center;
	padding-top: 50px;
	color: white;
}
h4:after{
	display: block;
	height: 2px;
	background-color: white;
	width:100px;
	content:" ";
	margin: 0 auto;
	margin-top: 30px;
	font-weight: bolder;
}

.login-form{
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 5%;
}
.form-group {
    margin-bottom: 0.5rem !important;
}
.form-control {
    display: block;
    width: 94%;
    height: calc(1.2em + .55rem + 0.7px);
}

/* Summary */
.summary{
    background-color: rgb(25, 77, 114);
}
.summary_desc{
    text-align: center;
    align-content: center;
    color: white;
}
.links{
    padding: 2%;
}
.number_of{
    color: white;
    text-align: center;
    font-size: 160%;
}
.icon{
    font-size: 200%;    
}
.desc{
    font-size: 70%;
    color: white;
    text-align: center;
}
.jumbotron{
	padding: 6%;
	border-radius: 0px;
}
.btn-outline-success {
    color:white;
    border-color:white;
}
.btn-outline-success:hover {
    background-color:  rgb(25, 77, 114);
}
.card{
    width: 80%;
}
.searchbar {
    margin-left: 88%;
}
.shortened{
	font-size: 70%;
}
.card-subtitle{
	font-size: 70%;
}
.card-link:hover{
	color:  rgb(25, 77, 114);
}
.signout{
    color: white;
    padding-left: 20%;
}
.login_card{
    margin-left: 15%;
    padding-top: 10%;
    padding-bottom: 10%;
    border-radius: 25px;
    margin-right: 15%;
    background-color: #2475b033;

}
.how{
    padding: 4%;
    text-align: center;
}
.number{
    margin-right: 5%;
}
.how_icon{
    margin-left: 15%;
    margin-bottom: 5%;
}
.padd{
    padding-top: 5%;
    padding-bottom: 5%;
}
.signin_card{
     margin-left: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 25px;
    margin-right: 15%;
    background-color: #2475b033;
}

/*FOOTER*/
.footer_sec{
    background-color: #2475B0 !important;
    padding-top: 8% !important;

    padding-bottom: 0% !important;
    margin-bottom: 0%;
    color: white;
    font-size: 80%;
}

/* -------------------*/
/* Queries*/
/* -------------------*/
@media only screen and (max-width: 500px){
    header{
        height: 80vh;
    }

}